<div style="background: #152c40; padding-bottom: 20px; padding-top: 10px">
  <table role="presentation" border="0" width="100%">
    <tr>
      <td bgcolor="#152C40" align="center" class="footer-td">
        <table role="presentation" border="0" width="50%" cellspacing="0">
          <tr>
            <td class="footer-table-left-col">
              <div class="social-icons">
                <table
                  role="presentation"
                  border="0"
                  width="30%"
                  cellspacing="6px"
                >
                  <tr>
                    <td class="ico">
                      <a href="https://twitter.com/getsplyd" target="_blank">
                        <img
                          src="https://s3.eu-west-3.amazonaws.com/splyd.com/email_temp/twitterWhite.png"
                          alt="social-icon"
                        />
                      </a>
                    </td>
                    <td class="ico">
                      <a
                        href="https://sa.linkedin.com/company/splyd/"
                        target="_blank"
                      >
                        <img
                          src="https://s3.eu-west-3.amazonaws.com/splyd.com/email_temp/linkedInWhite.png"
                          alt="social-icon"
                        />
                      </a>
                    </td>
                    <td class="ico">
                      <a
                        href="https://www.youtube.com/channel/UCmOrnC64nTokOxEvJKEkzLQ"
                        target="_blank"
                      >
                        <img
                          src="https://s3.eu-west-3.amazonaws.com/splyd.com/email_temp/youtubeWhite.png"
                          alt="social-icon"
                        />
                      </a>
                    </td>
                  </tr>
                </table>
              </div>
              <a
                href="https://api.whatsapp.com/send?phone=+966115207067&text=Hello"
                target="_blank"
                class="whatsapp"
              >
                <div class="whatsapp-btn">
                  <table
                    role="presentation"
                    border="0"
                    width="100%"
                    cellspacing="0"
                  >
                    <tr>
                      <td>
                        <img
                          src="https://s3.eu-west-3.amazonaws.com/splyd.com/email_temp/whatsapp.png"
                          alt="social-icon"
                        />
                      </td>
                      <td>
                        <p class="whatsapp-btn-text">WhatsApp</p>
                      </td>
                    </tr>
                  </table>
                </div>
              </a>
            </td>
          </tr>
        </table>
      </td>
      <td bgcolor="#152C40" align="center" class="footer-td">
        <table role="presentation" border="0" width="100%" cellspacing="0">
          <tr>
            <td class="footer-table-right-col">
              <p class="email-contact">
                <a
                  href="https://www.example.com"
                  target="_blank"
                  style="text-decoration: none; color: #fff"
                >
                  Team@splyd.com
                </a>
                تواصل معنا على
              </p>
              <p class="email-contact">
                أو من خلال أيقونة المحادثة المباشرة في الموقع
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
